body {
    background: linear-gradient(135deg, oklab(42.697% 0.11011 -0.19913), #c5c0e4);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #000000;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 25px #0a0a0a;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

#progress {
    width: 100%;
    height: 12px;
    background: rgba(255,255,255,0.25);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #00ff90;
    transition: width 0.4s ease;
}

#answers button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    transition: transform 0.2s, background 0.3s;
    cursor: pointer;
}

.answer {
    background: #ffffff;
    color: #333;
}

.answer:hover {
    background: #d8ffe5;
    transform: scale(1.02);
}

.correct {
    background: #28d764 !important;
    color: white;
}

.wrong {
    background: #ff4e4e !important;
    color: white;
}

#next-btn {
    width: 100%;
    padding: 14px;
    background: #00ccff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s;
}

#next-btn:hover {
    background: #00a6d1;
    transform: scale(1.02);
}

.hidden {
    display: none;
}

#result-box {
    text-align: center;
}

.result-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.result-buttons button {
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    background: #ffffff;
    color: #333;
    transition: 0.2s;
}

.result-buttons button:hover {
    background: #e8e8e8;
    transform: scale(1.02);
}

/* Dugme za PDF posebno malo istaknutije */
#pdfBtn {
    background: #00ff90;
    font-weight: bold;
}

#pdfBtn:hover {
    background: #03e382;
}
